.name {
  margin-top: 40px;
  margin-left: -30px;
  font-size: large;
  font-weight: bold;
  color: rgb(13, 113, 153);
}
.errorprofile {
  margin-top: 40px;
  margin-left: 25px;
  color: rgb(5, 65, 25);
  font-size: large;
  font-weight: bold;
}
.coursename {
  margin-left: 175px;
  color: white;
  font-size: large;
}
.innerprofile {
  min-width: 60%;
  background: rgb(27, 109, 27);
}
.imageprofile {
  margin-left: 25%;
  border-radius: 75px;
}

.alink {
  background-color: rgb(34, 157, 161);
  border: #235641;
}

.wrapper .sidebar {
  background-color: white;
  position: fixed;
  top: 40px;
  left: 20px;
  width: 350px;
  height: 50%;
  padding: 20px 0;
  box-shadow: 5px 5px 5px 5px gray;
  transition: all 0.5s ease;
}
.wrapper .container {
  background-color: #ccdbd3;
  position: fixed;
  top: 50px;
  left: 400px;
  width: 900px;
  height: 49%;
  padding: 20px 0;
  box-shadow: 5px 5px 5px 5px gray;
  transition: all 0.5s ease;
}
.wrapper .container .header {
  background-image: linear-gradient(
    to right,
    black,
    rgb(7, 75, 7),
    rgb(19, 116, 19),
    rgb(23, 170, 23),
    black
  );
  position: fixed;
  top: 40px;
  left: 400px;
  width: 900px;
  height: 10%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .horizontal {
  background-image: linear-gradient(
    to right,
    black,
    rgb(7, 75, 7),
    rgb(19, 116, 19),
    rgb(23, 170, 23),
    black
  );
  position: fixed;
  top: 400px;
  left: 20px;
  width: 1300px;
  height: 30%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.hh {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}
