.avatar {
  margin-right: 10px;
}
#logo-text {
  display: block;
  float: right;
  margin-top: 15px;
  color: black;
  font-size: 18px;
}
#logo {
  width: 40px;
  margin: 5px;
}
#linklog {
  display: block;
}
#link {
  display: inline-block;
  margin-left: 5px;
}
h4 {
  color: black;
}

#list {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 4px;
  width: 550px;
}
#list:hover {
  background-color: #3498db;
  color: whitesmoke;
  border-radius: 10px;
}
