.cardholder {
  margin-top: 200px;
}
.card {
  margin: auto;
  box-shadow: 5px 5px 10px 2px grey;
  width: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: whitesmoke;
  color: black;
}
h4 {
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  background-color: black;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.p {
  margin-bottom: 5px;
  text-align: left;
}
span {
  display: block;
  float: right;
  font-weight: 600;
}
